/node_modules
.cache

.next
.env
.next
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# TypeScript build cache
tsconfig.tsbuildinfo

/trending_api
/venv
/__pycache__